.min__directory-tree {
  .custom-title {
    width: 200px;
  }
}

.datasource-flexibility-realease__modal-hoc {
  li.ant-list-item.active, li.ant-list-item:hover {
    background: #f0f5ff;
    color: #531dab;
  }
}

