.modularization-overView {
  background-color: #e6f4ff;
  padding: 12px;
  .color {
    background: #fff566;
    padding: 8px;
  }
  .color2 {
    background-color: #fff7e6;
    padding: 12px;
  }
  .color3 {
    background-color: #f9f0ff;
    padding: 12px;
  }
  .color4 {
    background-color: #d9f7be;
    padding: 12px;
  }
  .color5 {
    background-color: #feffe6;
    padding: 12px;
  }
  .color6 {
    background-color: #f4ffb8;
    padding: 12px;
  }
}
.info-container {
  padding: 0 12px;
}
